.axis path {
    fill: none;
    stroke: #404040;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
    fill: #404040;
}

.fixBar {
position: fixed;
top: 10%;
right: 0;
min-height: 500px;
min-width: 20px;
max-width: 40px;
background: #03353D;
cursor: pointer;
z-index:9;
}

.fixBarContent {
position: fixed;
top: 10%;
right: -1000px;
min-height: 200px;
min-width: 20px;
max-width: 40px;
background: linear-gradient(#046874 10%, #0D5661 20%, #03353D 70%);
cursor: pointer;
z-index:10;
border-radius: 10px;
}

.fixBarContent.active{
right: 0;
min-width: 1000px;
max-width: 1000px;
}

.fixBarContent a{
cursor: pointer;
color: white;
position: absolute;
min-height: 500px;
min-width: 20px;
max-width: 40px;
background-color: transparent;
border-radius: 5px;
z-index: 999999999;
}

.fixBarContent .top span.title {
color: #03353D;
}

.fixBarContent .top span.percent {
color: white;
}

.fixBar a {
cursor: pointer;
color: white;
position: absolute;
top: 50%;
}



/*  left nav */
@media only screen {
    main {
        padding-left:210px;
    }
}


@media only screen and (max-width: 961px) {
    main {
        padding-left: 0px;
    }

}

.tile {
    font-family:Raleway;
    font-weight:300;
}

.heading {
    font-family:Raleway;
    font-weight:300;
}

.side-nav li:hover {
    background-color:#FFF;
}

.leftAxis {
    font-weight:200;
}


.datatip-value {
    position:absolute;
    right:10px;
}

.title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight:200;
}

.vizuly {
    font-family: "Raleway"
}

svg {
    border-radius: 4px;
    shape-rendering: crispEdges;
}

.vz-data-point {
    fill-opacity:1;
    stroke-width: 1px;
    stroke-opacity:1;
}

.vz-tip-hover {
    font-weight:300;
}

.vz-tip-hover text{
    opacity:.8;
}

.my-tip {
    font-family:Raleway;
    font-weight:300;
    text-anchor:middle;
}

/* MATERIAL.CSS */

[type="radio"]:checked + label:after {
    background-color:#448AFF;
    border-color: #3864c9;
}

[type="radio"] + label {
    border-color: #3864c9;
}

.input-field {
    margin-left: 0px;
    padding-bottom: 5px;
    font-family: "Roboto";
}

.dropdown-content {
    font-family:"Roboto";
    font-size:.5em;
}

.dropdown-content li span {
    font-family:"Roboto";
    font-size:1.75em;
}

div.input-field label {
    margin-left:-10px;
}

.mdi-navigation-menu {
    font-size:30px;
    color:#444;
}

div.settings-label {
    font-size:12px;
    color:#BBB;
    font-style: italic;
    margin-top:-10px;
    margin-bottom:40px;
    font-weight:300;
}

div.tooltip {
    position: absolute;
    text-align: left;
    pointer-events: none;
    width: 400px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}


.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

.header1{
    color:#000;
    text-transform:uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    text-align:center;
}

.header2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:#666;
    text-align:center;
}

.header3 {
    color:#333;
    text-align: left;
    font-size: 15px;
    font-style: italic;
    font-family: Georgia;
    /*  width:170px;*/
    text-align:center;
}


i.mdi-navigation-menu:before {
    font-size:40px;
    content: "\e662";
}
i.mdi-navigation-menu:hover {
    transition: color 0.5s ease;
    color: #0176B4;
}


path.domain {
    fill:none;
}

.vizuly {
    fill:#AAA;
    shape-rendering: auto;
}

.vz-plot-background {
    fill:#FFF;
}


.vz-bar{
    stroke: #EEE;
    shape-rendering:auto;
}

.vz-area {
    fill-opacity:0.7;
    shape-rendering: auto;
}

.vz-line {
    stroke: #777;
    stroke-width:1px;
    stroke-opacity: 1;
    fill:none;
    shape-rendering: auto;
}

.vz-tip {
    stroke: 1px;
    fill:none;
    stroke: #777777;
    stroke-opacity: 1;
    shape-rendering: auto;
}

.vz-line-indicator {
    stroke:#555;
    stroke-width: 1px;
}

.vz-data-point {
    shape-rendering: auto;
}

.vz-bottomAxis {
    shape-rendering: crispEdges;
}

.vz-skin-default {


}

.vz-radial-axis-tick {
    font-weight:300;
}

.vz-skin-axiis {
    background-image: linear-gradient(
            to bottom,
            #d0d0d0,
            #dfdfdf,
            #f3f3f3,
            #d0d0d0
    );
    border-radius: 5px;
    border:1px solid #BBB;
}

.vz-skin-ocean {
    background-image: url("img/vz-skin-galaxy_2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
}


.vz-axiis-datatip {
    background: rgba(232, 232, 232, 0.9);
    border-radius:3px;
    border: 1px solid #AAA;
    fill:#FFF;
    padding:10px;
    font-face:Raleway; text-transform:uppercase; font-weight:200; color:#000;
}

.vz-material-datatip {
    background: rgba(35, 35, 35, 0.7);
    border-radius:3px;
    border: 1px solid #AAA;
    fill:#FFF;
    padding:10px;
    font-face:Raleway; text-transform:uppercase; font-weight:200; color:#FFF;
}

.vz-neon-datatip {
    background: rgba(106, 106, 106, 0.7);
    border-radius:3px;
    border: 1px solid #777;
    padding:10px;
    font-face:Raleway; text-transform:uppercase; font-weight:200; color:#FFF;
}

.vz-minimal-datatip {
    background: rgba(220, 220, 220, 1);
    border-radius:1px;
    border: 1px solid #333;
    padding:10px;
    font-face:Raleway;
    text-transform:uppercase;
    color:#333;
}

.vz-minimal-datatip span {
    font-weight:300!important;
}

.vz-viz circle {
    shape-rendering:auto;
}


.vz-skin-political-influence {
    background-color:#EEEEEE;
    border-radius: 5px;
}

.vz-radial_progress-label{
  fill: #FFFFFF;
  font-size: 41px;
}

svg {
    fill:#FFF;
}

i.mdi-navigation-menu:before {
    font-size:40px;
    content: "\e662";
}
i.mdi-navigation-menu:hover {
    transition: color 0.5s ease;
    color: #0176B4;
}


/******** WHITE **********/

.vz-skin-white .vz-radial_progress-track {
    fill-opacity: .05;
    stroke-opacity: 0;
}

.vz-skin-white .vz-radial_progress-label {
    stroke: none;
    fill: #FFFFFF;
}

.vz-skin-white .vz-radial_progress-arc {
    stroke-opacity: 0;
}


/******** FIRE **********/


.vz-skin-fire .vz-radial_progress-track {
    fill-opacity: .1;
}


/******** NEON **********/

.vz-skin-neon .vz-radial_progress-back-circle {
    fill: #333;
    fill-opacity: 1;
}

.vz-skin-neon .vz-radial_progress-track {
    stroke:#000;
    stroke-opacity:.1;
}


/******** TEST CONTAINER **********/

svg.vizuly {
    fill:none;
}

div.radial_container {
    float:left;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

#viz_container {

    border-radius:6px;

}
