.flow_section {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

.v_type .sub_service .b_degree .weight .i_degree .f_degree .c_degree .individual_cost input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

.plan-title h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

.variability_Identifier_table {
  position: relative;
  border: 4px solid #37bbe6;
  border-radius: 10px
}
.variability_Identifier_table .glyphicon {
  font-size: 20px;
}
.table-remove {
  color: #700;
  cursor: pointer;
}
.table-lookup {
  color: #032658;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}
.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
.table-add:hover {
  color: #0b0;
}
#balance {
  color: black;
}
.element_arrow{

}

.f_table-add {
  color: #070;
}
.f_table-remove {
  color: #700;
}
/*range 設定被蓋掉*/
/*band degree's range slider css */
.b_degree .f_degree .c_degree .individual_cost input[type="range"]{
  -webkit-appearance: none;
  overflow:hidden;     /* 限定範圍 */
  width:10px;
  height:20px;
  outline : none;      /* 避免點選會有藍線或虛線 */
  background:none;
}
.b_degree .f_degree .c_degree .individual_cost input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
  width:10px;
  height:10px;
  background:#4b80a1;
  border-radius:50%;
  transition:.2s;        /* 點選放大時候的漸變時間 */
}
.b_degree .f_degree .c_degree .individual_cost input[type="range"]::-webkit-slider-thumb:before,
.b_degree .f_degree .c_degree .individual_cost input[type="range"]::-webkit-slider-thumb:after
{
  position: absolute;
  top: 3px;
  width: 2000px;          /* 長度很長沒關係，因為剛剛有用 overflow:hidden 了 */
  height: 4px;
  content:"";
  pointer-events: none;   /* 讓滑鼠可以點擊穿透偽元素，不然會點不到下面 */
  transition:.2s;
}

.b_degree .f_degree .c_degree .individual_cost input[type="range"]::-webkit-slider-thumb:before{
  left: -1997px;
  background: #4b80a1;
}
.b_degree .f_degree .c_degree .individual_cost input[type="range"]::-webkit-slider-thumb:after {
  left: 10px;
  background: #c3dcec;
}


.div-inline{display: inline}

.plan-highlight {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  height: 170px;
  border: 4px solid #7BDB90;
  border-radius: 10px
}

.plan-highlight2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  height: 170px;
  border: 4px solid #FF1F98;
  border-radius: 10px
}

.fulfillment_table {
  position: relative;
  border: 4px solid #9C9C9C;
  border-radius: 10px
}
.fulfillment_table .glyphicon {
  font-size: 20px;
}
#LFEL{
  font-size: 40px;
}
/* 自動調整排版 from john ref.flexbox*/
#tableContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#C_Container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
